USE [master]
GO
/****** Object:  Database [DiemThiTracNghiem]    Script Date: 05/08/2023 9:35:57 CH ******/
CREATE DATABASE [DiemThiTracNghiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiemThiTracNghiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DiemThiTracNghiem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiemThiTracNghiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DiemThiTracNghiem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiemThiTracNghiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiemThiTracNghiem]
GO
/****** Object:  Table [dbo].[tbadmin]    Script Date: 05/08/2023 9:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbadmin](
	[maAdmin] [nvarchar](50) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbadmin] PRIMARY KEY CLUSTERED 
(
	[maAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbcauhoi]    Script Date: 05/08/2023 9:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbcauhoi](
	[maCauHoi] [nvarchar](50) NOT NULL,
	[maChuDe] [nvarchar](50) NOT NULL,
	[noiDung] [nvarchar](50) NOT NULL,
	[dapAnA] [nvarchar](50) NOT NULL,
	[dapAnB] [nvarchar](50) NOT NULL,
	[dapAnC] [nvarchar](50) NOT NULL,
	[dapAnD] [nvarchar](50) NOT NULL,
	[dapAnDung] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbcauhoi] PRIMARY KEY CLUSTERED 
(
	[maCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbchude]    Script Date: 05/08/2023 9:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbchude](
	[maChuDe] [nvarchar](50) NOT NULL,
	[tenChuDe] [nvarchar](50) NOT NULL,
	[maAdmin] [nvarchar](50) NOT NULL,
	[maSinhVien] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbchude] PRIMARY KEY CLUSTERED 
(
	[maChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbdiemthi]    Script Date: 05/08/2023 9:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbdiemthi](
	[MaSV] [nvarchar](20) NOT NULL,
	[SoCauDung] [nvarchar](20) NOT NULL,
	[DiemThi] [nvarchar](20) NOT NULL,
	[DanhGia] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbsinhvien]    Script Date: 05/08/2023 9:35:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbsinhvien](
	[maSinhVien] [nvarchar](50) NOT NULL,
	[tenSinhVien] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[NgaySinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbsinhvien] PRIMARY KEY CLUSTERED 
(
	[maSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
